<!DOCTYPE html>

<link href="static/simple.css" rel="stylesheet" type="text/css"</link>

<html>

<div class="image">
	<p class="header">Lyrics Generator</p>
</div>

    <body>

        <div class="gray-block-1">
            <div class="block-1">
                <h2 style="text-align:center;">Instructions</h2>
                <ol>
                    <li>Enter the artist name and the number of their songs whose lyrics will be used to train a sequence-to-sequence language generation neural network.</li>
                    <li>Wait for the lyrics to be retrieved.</li>
                    <li>Enter the number of lines you wish to predict and click 'Predict'.</li>
                    <li>Wait for the model to train. This might take a while, in some cases even a few hours depending on how many songs the model has to train on.</li>
                </ol>
            </div>
            <div class="block-2">
                <form action = "./artist" method = "POST">
                    <input type="text" placeholder="Artist name" name="artist" />
                    <input type="text" placeholder="Number of songs" name="number" />
                    <div class="submit-button">
                        <button type = "submit " onclick="spinner()"> Submit</button>
                    </div>
                    <div class="loader">
                        <div class="loading"></div>
                    </div>
                </form>
            </div>
        </div>

        <div id="content" class="gray-block-2">
            {% if is_post %}

                {% if train %}

                    {% for title in titles %}
                    <p>{{title}}</p>
                    {% endfor %}

                    <div class="block-3">
                        <form action = "./train" method = "POST">
                            <div class="input-block-3">
                                <input type = "text" placeholder="Number of lines" name = "lines" />
                            </div>
                            <div class="submit-button-2">
                                <button type = "submit" onclick="spinner()"> Predict</button>
                            </div>
                            <div class="loader">
                              <div class="loading"></div>
                            </div>
                        </form>
                    </div>

                {% else %}
                    API calls reached. Try again later.

                {% endif %}

            {% endif %}
        </div>

      </body>

<script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>

</html>
